body {
    background-color: #2F89C9;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

.logo{
  margin-top: 10%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

img#enter:hover{
  cursor:pointer ;
}

img#enter{
  width: 25%;
  height: auto; /* Maintains aspect ratio */
  display: block;
}