body {
    background-color: #2F89C9;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img#enter:hover{
  cursor:pointer ;
}